<div class="container bg-white shadow p-4 rounded-lg px-6">
  <nav class="flex items-center gap-5">

    <a routerLink="/"
      class="bg-gray-300 cursor-pointer px-4 py-2 rounded-md text-sm font-[500] text-white transition-all hover:bg-gray-400"
      routerLinkActive="bg-gray-400 hover:bg-gray-500">
      View List
    </a>
    <a routerLink="/new"
      class="bg-gray-300 cursor-pointer px-4 py-2 rounded-md text-sm font-[500] text-white transition-all hover:bg-gray-400"
      routerLinkActive="bg-gray-400 hover:bg-gray-500">
      Add Item
    </a>
  </nav>
</div>
